.container
    .row.hero-unit
        = image_tag("http://fc01.deviantart.net/fs23/f/2007/322/f/9/f94b45a490fc1cc3.jpg", class: "img-responsive hero-image")
        .tagline
            %h1 Welcome to DA Slideshows!
            %p See art the way it was meant to be seen.