.hidden
    %p url 1
    %p url 2
    %p url 3
    %p url 4
    %p url 5
    %p url 6
    %p url 7
    %p url 8
    %p url 9
    %p url 10
    %p url 11

.row.hero-unit
    = image_tag("http://fc05.deviantart.net/fs71/f/2012/333/d/7/view_2142_by_tituslunter-d5mjly4.jpg", class: "img-responsive hero-image")
    .tagline
        %h1 Welcome to DA Slideshows
        %p The art you love, the way it was meant to be experienced.





        -# http://fc05.deviantart.net/fs71/f/2012/333/d/7/view_2142_by_tituslunter-d5mjly4.jpg
        -# http://fc01.deviantart.net/fs23/f/2007/322/f/9/f94b45a490fc1cc3.jpg