.hidden
    %p bobafett.jpg
    %p buick.jpg
    %p cafegirl.jpg
    %p chunli.jpg
    %p sunsetriver.jpg
    %p fractal.jpg
    %p headphones.jpg
    %p nordiclake.jpg
    %p oldman.jpg
    %p scifi.jpg
    %p starscape.png

.row.hero-unit
    -# = image_tag("headphones.jpg", class: "img-responsive hero-image")
    .tagline
        %h1 Welcome to DA Slideshows
        %p The art you love, the way it was meant to be experienced.
        -unless current_user
            %p!= "#{link_to("Sign in", new_user_session_path)}, or #{link_to("Register", new_user_registration_path)} to get started!"
    .attribution
        = link_to("Color, by yuumei", "http://yuumei.deviantart.com/art/Color-327928911", target: "_blank")