.hidden
    %p http://fc05.deviantart.net/fs71/f/2012/333/d/7/view_2142_by_tituslunter-d5mjly4.jpg
    %p http://fc07.deviantart.net/fs71/i/2014/198/9/a/boba_fett_by_uncannyknack-d7r4mvm.jpg
    %p http://fc03.deviantart.net/fs71/f/2015/041/d/0/d0c1fff0d023a338a64e08a415fb698b-d8hgdan.jpg
    %p http://fc05.deviantart.net/fs71/i/2011/226/a/7/coffee_and_a_newspaper_by_xraystyle-d46klbo.jpg
    %p http://fc06.deviantart.net/fs70/f/2014/022/0/a/angry_buick_by_americanmuscle-d739b29.jpg
    %p http://fc06.deviantart.net/fs70/f/2013/183/1/3/19th_avenue_cafe_by_jay_jusuf-d6bm1hm.jpg
    %p http://img13.deviantart.net/eb13/i/2015/063/4/e/mind_s_eye_by_sa_nick86-d8kgqvp.png
    %p http://img00.deviantart.net/2cee/i/2015/069/7/f/dusk_river_by_daroz-d8l7bym.jpg
    %p http://fc01.deviantart.net/fs70/f/2012/262/e/5/color_by_yuumei-d5f8nkf.jpg
    %p http://fc08.deviantart.net/fs31/f/2008/204/d/9/d962113e73c4ea06ef8bac44b0eb93e3.jpg
    %p http://orig08.deviantart.net/a337/f/2015/093/f/c/dreaming_by_boxtail-d8id7oj.png

.row.hero-unit
    = image_tag("http://orig08.deviantart.net/a337/f/2015/093/f/c/dreaming_by_boxtail-d8id7oj.png", class: "img-responsive hero-image")
    .tagline
        %h1 Welcome to DA Slideshows
        %p The art you love, the way it was meant to be experienced.