.info
    .container
        %h1 Usage tips
        %hr
        .row
            DA Slideshows was designed to be a novel way to find, share, and enjoy artwork tailored to your tastes. Displaying this art on large screens, with the ability to easily change the theme to fit your mood and style, is the main idea behind DA Slideshows. 
            %p
            DA Slideshows works best when used with two devices. Use a mobile device like a tablet or a phone for the Channel Changer, then display your Slideshow on a larger screen. 
            %p
            Here's a few ideas to get you started:

            %ul
                %li Game consoles such as the Xbox and Playstation have web browser apps. Log in and use them to display your Slideshow.
                %li Televisions such as Samsung's Smart TV have built-in web browsers. These can be used for the Slideshow as well.
                %li If you have a desktop computer you can run the slideshow on your monitor. If you have a second monitor, you can run the slideshow on one screen and work on the other!
                %li AppleTV allows you to mirror your Mac's computer screen to your TV. Open your Slideshow on your computer and mirror it to your Apple TV.
                %li With Google's Chromecast, you can cast the content of your Google Chrome web browser from any computer or Android device to your TV. Load your Slideshow and cast away!
                %li If you're lucky enough to have a few iPads or Android tablets to spare, you can use DA Slideshows to turn them into digital picture frames. Open your slideshow on all of them and watch them all update at once when you change the channel!

            DA Slideshows is more fun with more screens. Figure out how to get your Slideshow onto as many screens as you can. Get creative, that's what art is all about!

        %h1 The artwork
        %hr
        .row
            The art channels available on DA Slideshows are drawn from the "What's Hot" page on DeviantArt. The artwork that appears on this section of DA includes much of the high-quality work that has been recently posted to DeviantArt, and refreshes quite frequently. DA Slideshows updates it's channel selection every four hours, and places the newest artwork to reach the "What's Hot" page at the top of the Channels list. 