.container-fluid
    -# = link_to(image_tag("../images/back.png", height: "40px", class: "back-arrow", width: "40px"), slideshows_home_path)
    %h1 Choose a Channel!
    %span Select an image to change the channel on your slideshow at any time.
    %hr
    .torpedo-minus-wrapper
        .channel-list.torpedo.leelor
            - @channels.each do |c|
                -if c[:uuid] == @user_seed
                    .channel-selected.torpedowrap
                        = image_tag(c[:thumb], data: {uuid: c[:uuid]})
                -else    
                    .channel.torpedowrap
                        = image_tag(c[:thumb], data: {uuid: c[:uuid]})
