:css
    body {
        padding-top: 0;
    }
    
.container-fluid
    = link_to(image_tag("../images/back.png", height: "40px", class: "back-arrow", width: "40px"), slideshows_home_path)
    %h1 Choose a Channel!
    .channel-list
        .row
            - @channels.each do |c|
                -if c[:uuid] == @user_seed
                    .channel-selected.col-xs-6.col-sm-4.col-md-3
                        = image_tag(c[:thumb], class: "img-responsive thumbnail", data: {uuid: c[:uuid]})
                -else    
                    .channel.col-xs-6.col-sm-4.col-md-3
                        = image_tag(c[:thumb], class: "img-responsive thumbnail", data: {uuid: c[:uuid]})
