%h1 You are signed in.

%div= link_to("Channel Changer", slideshows_channels_path, data: { no_turbo_link: true })
%div= link_to("My Slideshow", slideshows_slideshow_path, data: { no_turbo_link: true })
