#back
	= link_to(image_tag("../images/back.png", id: "back-button", height: "40px", width: "40px"), root_path, data: { no_turbolink: true })
#slideshow
	%div

#placeholder
	

#current-seed
	%p Rock And Roll.