Thanks for registering with DA Slideshows! We hope you use our app to find amazing art that you can share with friends and will inspire you to create your own.
\ 
Some quick tips to get you started:
\
DA Slideshows has two parts. Your art slideshow: http://da-slidesho.ws/slideshows/slideshow and the channel changer: http://da-slidesho.ws/slideshows/channels The channel changer selects an artwork to start the slideshow, and then the slideshow will show you more art that is similar to the one selected.
\
This helps you find more great art that is similar to what you like.
\
DA Slideshows works best when used with two devices. Sign in on both your computer and your mobile device, start the slideshow on the computer, and the channel changer on your tablet or phone. Now you can use your phone or tablet as a remote to change your slideshow from wherever you are!
\
This is great for parties or social events if you have a smart TV or a game console with a web browser built in. DA Slideshows works great on Internet Explorer for Xbox One! Load your slideshow on your Xbox, then use the channel changer from your phone!
\
The art in your slideshow displays the title and author of each piece, and the titles are links which will take you directly to the Deviation page for the piece on DeviantArt. From there you can comment on the piece, fave it, or buy a print. Just move your mouse or pointing device on the slideshow to unhide the title bar.
\
Thanks again for using DA Slideshows!
\
http://da-slidesho.ws
\
"--The DA Slideshows Team"