/* line 4, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
body {
  background: grey;
}

/* line 8, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
.channel, .channel-selected {
  display: inline;
  padding: 5px;
}
/* line 11, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
.channel img, .channel-selected img {
  max-height: 300px;
  max-width: 300px;
  min-height: 100px;
  min-width: 100px;
  border: 3px solid black;
  margin: auto;
  cursor: pointer;
}

/* line 25, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
.channel-selected img {
  border: 5px solid green;
  cursor: auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

