/* line 5, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
html {
  height: 100%;
}

/* line 13, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
.main-actions {
  width: 175px;
  margin: 5px;
}
/* line 16, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
.main-actions:visited {
  color: black;
}

/* line 21, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
.main-actions-container {
  padding: 30px;
}

/* line 26, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
footer.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #222222;
  padding-top: 20px;
  padding-left: 10px;
}
/* line 34, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
footer.footer a {
  color: #9d9d9d;
  text-decoration: underline;
}
/* line 37, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
footer.footer a:hover {
  color: white;
}
/* line 42, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
footer.footer p {
  color: #9d9d9d;
  font-family: inherit;
  font-size: inherit;
  background: none;
  margin: 0 0 10px;
  padding: 0;
  position: relative;
}
/* line 51, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
footer.footer .glyphicon {
  color: #9d9d9d;
}
@media (max-width: 399px) {
  /* line 26, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  footer.footer {
    height: 30px;
    padding-top: 9px;
    padding-left: 6px;
  }
  /* line 60, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  footer.footer p {
    font-size: 9px;
  }
}
@media (min-width: 400px) {
  /* line 26, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  footer.footer {
    height: 40px;
    padding-top: 12px;
    padding-left: 6px;
  }
  /* line 70, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  footer.footer p {
    font-size: 11px;
  }
}
@media (min-width: 768px) {
  /* line 26, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  footer.footer {
    height: 50px;
    padding-top: 13px;
    padding-left: 10px;
  }
  /* line 80, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  footer.footer p {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  /* line 90, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  .channel, .channel-selected {
    display: inline;
    padding: 5px;
    vertical-align: middle;
    height: 300px;
    line-height: 300px;
  }
  /* line 96, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  .channel img, .channel-selected img {
    max-height: 300px;
    border: 3px solid black;
    vertical-align: middle;
    cursor: pointer;
  }

  /* line 111, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  .channel-selected img {
    border: 5px solid #00E5FF;
    cursor: auto;
  }
}
@media (min-width: 768px) {
  /* line 122, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  .channel, .channel-selected {
    display: inline;
    padding: 5px;
    vertical-align: middle;
    min-height: 300px;
    height: 400px;
    line-height: 400px;
  }
  /* line 129, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  .channel img, .channel-selected img {
    max-height: 400px;
    border: 3px solid black;
    vertical-align: middle;
    cursor: pointer;
  }

  /* line 144, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  .channel-selected img {
    border: 5px solid #00E5FF;
    cursor: auto;
  }
}
@media (min-width: 992px) {
  /* line 157, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  .channel, .channel-selected {
    display: inline;
    padding: 5px;
    vertical-align: middle;
    height: 550px;
    line-height: 550px;
  }
  /* line 163, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  .channel img, .channel-selected img {
    max-height: 550px;
    border: 3px solid black;
    vertical-align: middle;
    cursor: pointer;
  }

  /* line 178, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
  .channel-selected img {
    border: 3px solid #00E5FF;
    cursor: auto;
  }
}
/* line 188, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
h1 {
  color: white;
}

/* line 193, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
.thumbnail {
  padding: 1px;
  background: #a9a9a9;
  display: inline-block;
}

/* line 200, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
.back-arrow {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

/* line 229, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
#slideshow {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}
/* line 236, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
#slideshow div {
  display: table-cell;
  vertical-align: middle;
}
/* line 239, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
#slideshow div img {
  position: absolute;
}

/* line 245, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
#back {
  position: relative;
  z-index: 5;
}

/* line 250, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
.attribution-current, .attribution-next {
  font-size: 22px;
  background: rgba(0, 0, 0, 0.4);
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: white;
  padding: 14px;
  margin: 0;
  z-index: 1000;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

/* line 265, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
p a {
  color: white;
  text-decoration: none;
}

/* line 270, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
p a:hover {
  text-decoration: underline;
}

/* line 275, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
#back-button {
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 3;
}

/* line 282, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
#spinner {
  z-index: 0;
  position: absolute;
  display: block;
  margin: 1em auto;
}

/* line 289, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
#placeholder {
  display: none;
}

/* line 293, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/slideshows.css.scss */
#current-seed {
  display: none;
}
