/* line 5, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.hero-unit {
  position: relative;
  background-color: black;
}

/* line 10, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.hero-image {
  width: 100%;
  opacity: .5;
}

/* line 15, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.tagline {
  position: absolute;
  top: 29px;
  left: 20px;
  margin-right: 20px;
  margin-top: 9px;
  color: white;
  background-color: rgba(64, 64, 64, 0.5);
  border-radius: 10px;
  padding: 10px;
}
@media (max-width: 399px) {
  /* line 15, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .tagline {
    top: 2px;
  }
}
/* line 33, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.tagline a {
  color: white;
}
/* line 37, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.tagline h1 {
  opacity: 1;
}
/* line 41, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.tagline span {
  opacity: 1;
}
@media (max-width: 599px) {
  /* line 15, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .tagline {
    font-size: 12px;
  }
  /* line 46, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .tagline h1 {
    font-size: 21px;
  }
}
@media (min-width: 600px) {
  /* line 15, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .tagline {
    font-size: 15px;
  }
  /* line 53, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .tagline h1 {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  /* line 15, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .tagline {
    font-size: 20px;
  }
  /* line 60, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .tagline h1 {
    font-size: 45px;
  }
}
@media (min-width: 1199px) {
  /* line 15, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .tagline {
    font-size: 33px;
  }
  /* line 67, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .tagline h1 {
    font-size: 81px;
  }
}

/* line 75, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.attribution {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
}
@media (max-width: 399px) {
  /* line 75, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .attribution {
    padding: 3px;
  }
}
@media (min-width: 400px) {
  /* line 75, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .attribution {
    padding: 5px;
  }
}
@media (min-width: 600px) {
  /* line 75, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .attribution {
    padding: 10px;
  }
}
/* line 97, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.attribution a {
  color: #9d9d9d;
}
/* line 100, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.attribution a:hover {
  color: white;
  opacity: 1.0;
}
@media (max-width: 399px) {
  /* line 97, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .attribution a {
    font-size: 10px;
  }
}
@media (min-width: 400px) {
  /* line 97, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .attribution a {
    font-size: 12px;
  }
}
@media (min-width: 600px) {
  /* line 97, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .attribution a {
    font-size: 20px;
  }
}

/* line 127, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
#action a {
  text-decoration: underline;
}
@media (max-width: 399px) {
  /* line 125, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  #action {
    display: none;
  }
}

/* line 139, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
#sub-action {
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}
@media (min-width: 400px) {
  /* line 139, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  #sub-action {
    display: none;
  }
}
/* line 147, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
#sub-action a {
  text-decoration: underline;
  color: white;
}

/* line 157, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.sidebar ul {
  background-color: white;
}
@media (max-width: 400px) {
  /* line 157, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .sidebar ul {
    padding-top: 15px;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  /* line 157, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .sidebar ul {
    padding-top: 100px;
  }
}
@media (min-width: 992px) {
  /* line 157, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .sidebar ul {
    padding-top: 95px;
    font-size: 16px;
  }
}
@media (min-width: 1199px) {
  /* line 157, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .sidebar ul {
    padding-top: 95px;
    font-size: 22px;
  }
}
/* line 179, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.sidebar ul li {
  padding: 5px;
}
/* line 182, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.sidebar ul li a {
  color: black;
  text-decoration: underline;
}

/* line 189, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.instructions {
  background-color: white;
}
@media (max-width: 399px) {
  /* line 189, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .instructions {
    margin-top: 5px;
  }
}
@media (min-width: 400px) {
  /* line 189, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .instructions {
    margin-top: 20px;
  }
}

/* line 203, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.info {
  color: black;
}
@media (max-width: 599px) {
  /* line 203, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .info {
    font-size: 14px;
  }
}
@media (min-width: 600px) {
  /* line 203, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .info {
    font-size: 18px;
  }
}
/* line 215, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.info .row {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}
/* line 220, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
.info .row ul {
  margin-top: 10px;
}
@media (max-width: 599px) {
  /* line 220, /Users/xraystyle/Development/Sites/da-slideshows/app/assets/stylesheets/static_pages.css.scss */
  .info .row ul {
    padding-left: 8px;
  }
}
