/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$default-font-color: white;

body {
    // font-family: "Roboto", sans-serif;
    padding-top: 51px;
    padding-bottom: 70px;
    background-image: url("bgpattern.jpg");
    background-size: 25px;
    background-repeat: repeat;
    background-position: top left;
    background-color: black;
}

a:visited {
    color: #9D9D9D;
}

.alert {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-toggle {
    color: white;
}

h1, h2, h3, h4, p, span {
    color: $default-font-color;
}

h1 {
    margin-top: 10px;
}

.debug_dump {
    margin-top: 20px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {

    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    
    a {
        color: #9d9d9d;
        text-decoration: underline;
        &:hover {
            color: white;
        }
    }

    p {
        color: #9d9d9d;
    }
    .glyphicon {
        color: #9d9d9d;
    }

    @media (max-width: 399px) { // Additional smaller size for older/lower-res devices
        height: 30px;
        padding-top: 9px;
        padding-left: 6px;

        p {
            font-size: 9px;
        }
    }

    @media (min-width: 400px) { // Bootstrap XS size
        height: 40px;
        padding-top: 12px;
        padding-left: 6px;

        p {
            font-size: 11px;
        }
    }

    @media (min-width: 768px) {  // Bootstrap SM size
        height: 50px;
        padding-top: 13px;
        padding-left: 10px;

        p {
            font-size: 16px;
        }
    }
}


.heart {
    &:hover {
        color: white;
    }
    @media (max-width: 450px) { // Additional smaller size for older/lower-res devices
        display: none;
    }

    @media (min-width: 400px) { // Bootstrap XS size
        margin-right: 8px;
    }

    @media (min-width: 768px) {  // Bootstrap SM size
        // bottom: 43px;
    }
    span {
        text-decoration: underline;
        top: 0px;
    }    
}




span.vertical-line {
    border-right: 1px solid gray;
    margin-right: 3px;

}

label {
    color: white;
    font-weight: normal;
    padding: 5px;
}

i, em {
    color: white;
}

.devise-button {
    margin-top: 18px;
}