// Place all the styles related to the Slideshows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html { height: 100%; }

.main-actions {
	width: 175px;
    margin: 5px;
    &:visited {
        color: black;
    }
}

.main-actions-container {
	padding: 30px;
}


footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #222222;
    padding-top: 20px;
    padding-left: 10px;
    a {
        color: #9d9d9d;
        text-decoration: underline;
        &:hover {
            color: white;
        }
    }

    p {
        color: #9d9d9d;
        font-family: inherit;
        font-size: inherit;
        background: none;
        margin: 0 0 10px;
        padding: 0;
        position: relative;
    }
    .glyphicon {
        color: #9d9d9d;
    }

    @media (max-width: 399px) { // Custom smaller than Bootstrap XS size
        height: 30px;
        padding-top: 9px;
        padding-left: 6px;

        p {
            font-size: 9px;
        }
    }

    @media (min-width: 400px) { // Bootstrap XS size
        height: 40px;
        padding-top: 12px;
        padding-left: 6px;

        p {
            font-size: 11px;
        }
    }

    @media (min-width: 768px) {  // Bootstrap SM size
        height: 50px;
        padding-top: 13px;
        padding-left: 10px;

        p {
            font-size: 16px;
        }
    }

}


h1 {
    color : white;
    // padding-left : 20px
}

.thumbnail {
	padding: 1px;
	background: #a9a9a9;
	display : inline-block;
}


.back-arrow {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}


/* ********************************************************************** */
/* Torpedo LEELOR 
/* ********************************************************************** */

.torpedo.leelor {
    /* this controls space between thumbs */
    margin: 8px;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    overflow: hidden;
    flex-direction: row;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    justify-content: flex-end;
    -webkit-justify-content:flex-end;
    -moz-justify-content:flex-end;
}
/* inserted by js - this is anchor tag around each image */
.torpedowrap {
    flex-grow: 1;
    -ms-flex-grow: 1;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-shrink: 1;
    -ms-flex-shrink: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    margin: inherit;
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
}

.torpedowrap img {
    visibility: hidden;

max-height: 200px;
max-width: 275px;
}

.channel { cursor: pointer; }

.channel-selected {
    border: 5px solid #00E5FF;
    cursor: auto;   
}


@media only screen and (min-device-width : 320px) and (max-device-width : 800px) and (-webkit-min-device-pixel-ratio : 1.5) { 

.torpedo-minus-wrapper {
    margin: 0px -30px;
}

.torpedo.leelor {
        margin: 2px;
        justify-content: flex-start;
        -webkit-justify-content:flex-start;
        -moz-justify-content:flex-start;
    }

    .torpedowrap {
        margin: inherit;
    }
    .torpedowrap img {
        max-height: 150px;
        max-width: 140px;
    }
    .torpedo.leelor a.torpedowrap:nth-child(2) {
        max-width: none;
    }
}


// End channel changer CSS------------------------



// Slideshow CSS-------------------------------
#slideshow {
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	display: table;
	// position: absolute;
	div {
		display: table-cell;
		vertical-align: middle;
		img {
			position: absolute;
		}
	}
}

#back {
	position: relative;
	z-index: 5;
}

.attribution-current,.attribution-next {
	font-size: 22px;
	background: rgba(0,0,0,0.4);
	// font-family: "Roboto", sans-serif;
    font-family: inherit;
	text-align: right;
	color: white;
	padding:14px;
	margin:0;
	z-index:1000;
	position:absolute;
	bottom:0;
	width:100%;
	box-sizing:border-box;
}

p a {
    color: #9d9d9d;
	text-decoration:none;
}

p a:hover {
	text-decoration:underline;
    color:white;
}


#back-button {
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: 3;
}

#spinner {
	z-index: 0;
	position: absolute;
	display: block;
	margin: 1em auto;
}

#placeholder {
	display: none;
}

#current-seed {
	display: none;
}

#user-id {
    display: none;
}

// End slideshow CSS-------------------------------









