// Place all the styles related to the Slideshows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {height: 100%;}

body {
	background: gray;
	height: 100%;
	margin: 0;
}

header {
	position: absolute;
	z-index: 100;
}

.container {
	height: 100%;
	display: block;
	position: absolute;
	width: 100%;
}

.channel {
	display: inline;
	padding: 5px;
	img {
		max-height: 300px;
		max-width: 300px;
		min-height: 100px;
		min-width: 100px;
		border: 3px solid black;
		margin: auto;
		cursor: pointer;
	}
}


.channel-selected {
	@extend .channel;
	img {
		border: 5px solid green;
		cursor: auto;	
	}
	
}

#slideshow {
	background-size: contain !important;
	display: block;
	height: 100%;
	// img {
	// 	width: 100%;
	// }
}

// header {
// 	display: none;
// }