// Place all the styles related to the Slideshows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {height: 100%;}

body {
	background: black;
	height: 100%;
	margin: 0;
}

header {
	display: none;
}

footer {
	display: none;
}

// .container {
// 	top: 0; 
// 	left: 0; 
// 	width: 100%; 
// 	height: 100%;
// 	display: table;
// 	position: absolute;
// }

// Chanel changer CSS--------------------
.channel-list {
	padding-left: 20px;
}

.channel { 
	display: inline;
	padding: 5px;
	img {
		max-height: 300px;
		max-width: 300px;
		min-height: 100px;
		min-width: 100px;
		border: 3px solid black;
		margin: auto;
		cursor: pointer;
	}
}


.channel-selected {
	@extend .channel;
	img {
		border: 5px solid #00E5FF;
		cursor: auto;	
	}
	
}
// End channel changer CSS------------------------



// Slideshow CSS-------------------------------
#slideshow {
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
	display: table;
	// position: absolute;
	div {
		display: table-cell;
		vertical-align: middle;
		img {
			position: absolute;
		}
	}
}

#back-button {
	position: absolute;
	left: 15px;
	top: 15px;
	z-index: 3;
}

#spinner {
	z-index: 0;
	position: absolute;
	display: block;
	margin: 1em auto;
}

#placeholder {
	display: none;
}

#current-seed {
	display: none;
}

// End slideshow CSS-------------------------------









