// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-unit {
    position: relative;
    background-color: black;
}

.hero-image {
    width: 100%;
    opacity: .5;
}

.tagline {

    position: absolute;
    top: 29px;
    left: 20px;
    margin-right: 20px;
    margin-top: 9px;
    color: white;
    background-color: rgba(64, 64, 64, .5);
    border-radius: 10px;
    padding: 10px;
    
    @media (max-width: 399px) {

        top: 2px;

    }

    a {
        color: white;
    }

    h1 {
        opacity: 1;
    }

    span {
        opacity: 1;
    }

     @media (max-width: 599px) { // Bootstrap XS size
        h1 {
            font-size: 21px;
        }

        font-size: 12px;
    }   
     @media (min-width: 600px) {  // Bootstrap SM size
        h1 {
            font-size: 36px;
        }

        font-size: 15px;
    }  
     @media (min-width: 992px) {  //  Bootstrap MD size
        h1 {
            font-size: 45px;
        }

        font-size: 20px;
    }
     @media (min-width: 1199px) {  //  Bootstrap MD size
        h1 {
            font-size: 81px;
        }

        font-size: 33px;
    } 
}

.attribution {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    text-align: right;

    @media (max-width: 399px) {

        padding: 3px;

    }
    @media (min-width: 400px) {

        padding: 5px;

    }
    @media (min-width: 600px) {

        padding: 10px;

    }
    a {
        // opacity: .6;
        color: #9d9d9d;
        &:hover {
            color: white;
            opacity: 1.0;
        }

        @media (max-width: 399px) {

            font-size: 10px;
        }

        @media (min-width: 400px) {

            font-size: 12px;
        }

        @media (min-width: 600px) {

            font-size: 20px;

        }

    }

}

#action {

    a {
        text-decoration: underline;
    }

    @media (max-width: 399px) {

        display: none;

    }

}

#sub-action {
    @media (min-width: 400px) {
        display: none;
    }
    color : white;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    a {
        text-decoration: underline;
        color : white;
    }
}

#how-it-works {

}

.sidebar ul {
    background-color: white;
    @media (max-width: 400px) {
        padding-top: 15px;
        padding-left: 10px;
    }

    @media (min-width: 768px) {
        padding-top: 100px;
    }

    @media (min-width: 992px) {
        padding-top: 95px;
        font-size: 16px;
    }

    @media (min-width: 1199px) {
        padding-top: 95px;
        font-size: 22px;
    } 


    li {
        padding :5px;
    }
}

.instructions {
    background-color: white;
    @media (max-width: 399px) {
        margin-top: 5px;
    }
    @media (min-width: 400px) {
        margin-top: 20px;
    }
}