%footer.footer
    %p
        %span.glyphicon.glyphicon-copyright-mark
        2015 DA Slideshows
        %span.vertical-line
        = link_to("More Info", "#")
        %span.vertical-line
        != "Contact: #{mail_to("info@da-slidesho.ws")}"
        %span.pull-right.heart <a href="http://deviantart.com" target="_blank">We <span class="glyphicon glyphicon-heart"></span> DeviantArt!</a>