%footer.footer
    %p
        %span.glyphicon.glyphicon-copyright-mark
        2015 DA Slideshows
        %span.vertical-line
        = link_to("More Info", "#")
        %span.vertical-line
        != "Contact us: #{mail_to("info@da-slidesho.ws")}"